.color-default {
  background-color: #487aa1;
  color: white;
}
.color-default a {
  color: white;
}

.page-content {
  height: 100vh;
}
.linkMenu:hover {
  background-color: #939dd8;
  cursor: pointer;
}
