body {
  margin: 0;
}

.page-content {
  height: 100vh;
}

.input-sm {
  height: 100%;
}

.text-white {
  color: white;
}

.text-primary {
  color: #673ab7;
}
.bg-primary {
  background-color: #673ab7;
}

.text-center {
  text-align: center;
}
.form-full-width {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
